body {
  color: azure;
  margin: 200px;
  font-family: "Courier New", Courier, monospace;
  background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);
  
}
h1 {
  display: block;
  padding: 15px 5px;
}
.container {
  background: rgba(16, 62, 73, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  margin: 0 auto;
  padding: 40px;
  max-width: 700px;
}

.card-title {
  color: #042b11;
}

.card-text {
  color: #074414;
}

.card-body {
  background: #0d3f2e;
}
button {
  background: #a2d3c8;
  border-color: #0c5543;
  border-radius: 4px;
}
button.hover {
  background: #033b11;
}
.container.text-center {
  background: #8ed1bb;
}
