body {
  color: azure;
  margin: 75px;
  font-family: "Roboto", sans-serif;
  background-image: url("https://images.pexels.com/photos/1078981/pexels-photo-1078981.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-size: cover;
}
h1 {
  display: block;
  padding: 15px 5px;
}
.container {
  background: rgba(16, 62, 73, 0.8);
  box-shadow: 2px 2px 2px rgba(5, 70, 70, 0.6);
  border-radius: 10px;
  margin: 0 auto;
  padding: 40px;
  max-width: 700px;
}

.card-title {
  color: #042b11;
}

.card-text {
  color: #8ed1bb
}

.card-body {
  background: rgba(16, 62, 73, 0.8)
}
button {
  background: #a2d3c8;
  border-color: #0c5543;
  border-radius: 4px;
}
button.hover {
  background: #033b11;
}
.container.text-center {
  background: rgba(16, 62, 73, 0.8)
}


footer {
  text-align: center;
  color: #000;
}